body { 
    --menu-hover: rgba(255, 255, 255, .08);
    --menu-select: rgba(255, 255, 255, .16);
    --menu-background: rgba(255,255,255, .1);
    --menu-font: #ffffff;

    --hover: rgba(0, 0, 0, 0.08);
    --text-hover: rgba(0, 0, 0, .65);
    --select: rgba(0, 0, 0, .16);
    --background: #ffffff;
    --shadow: #1e1e1e;

    --default: #121212;
    --description: #3f3f3f;

    --search-background: rgba(45, 56, 68, .95);
    --mobile-dropdown-background: #3f4c59;
    --primary: #ffde03;
    --error: #e08982;

    --button: #c4edcc;
    --button-hover: #b3dbbb;
    --button-disabled: #ebebeb;

    /* Object Header Colors */
    --header-gray: rgba(0, 0, 0, .06);
    --header-red: rgba(153, 0, 0, 0.2);
    --header-green: rgba(51, 130, 44, .3);
    --header-yellow: rgba(255, 222, 3, 0.3);

    --menu-size: clamp(260px, 26%, 340px);
    --mobile-menu-height: 60px;
    --border-radius: 8px;
    --inner-padding: 16px;
    --outer-padding: 32px;

    color: var(--default);
}

body.dark-theme {
    --hover: rgba(255, 255, 255, .08);
    --select: #ffffff29;
    --background: #1e1e1e;
    --shadow: #1e1e1e;

    --default: #ffffff;
    --description: #eeeeee;

    --search-background: rgba(30, 30, 30, .95);
    --mobile-dropdown-background: #1f1f1f;
    --primary: #ffde03;
    --error: #e08982;

    /* Object Header Colors */
    --header-gray: rgba(255, 255, 255, .04);
    --header-green: rgba(54, 149, 47, .25);
    --hover-green: rgba(54, 149, 47, .33);

}

header.gray { background-color: var(--header-gray); }
header.red { background-color: var(--header-red); }
header.green { background-color: var(--header-green); }
header.yellow { background-color: var(--header-yellow); }