/* || OPEN TICKETS ||
/*  Statuses  */
.open-ticket-container { width: 100%; border-bottom: 1px solid var(--description); display: flex; justify-content: flex-start; align-items: center; font-size: 14px; 
    font-weight: 700; padding: var(--inner-padding); }
.open-ticket-container:last-child { border-bottom: 0; border-radius: 0 0 var(--border-radius) var(--border-radius); }
.object .info-container { display: flex; flex-direction: column; }
.open-ticket-container .ticket-num {  color: var(--default); width: 86px; min-width: 86px; height: 100%; display: flex; align-items: center; }
.open-ticket-container .name-device { width: calc(100% - 326px); display: flex; flex-direction: column; }
.open-ticket-container .name-device > .name { width: 100%; max-width: 100%; color: var(--default); }
.open-ticket-container .name-device > .device { width: 100%; max-width: 100%; font-size: 12px; font-weight: 400; color: var(--description); }
.open-ticket-container .clock-date { display: flex; flex-direction: column; align-items: center; justify-content: center; line-height: 14px; width: 80px; height: 100%; }
.open-ticket-container .clock-date > .material-symbols-outlined { font-size: 18px; color: var(--description); }
.open-ticket-container .clock-date > .date { font-size: 10px; font-weight: 400; color: var(--description); }

@media (max-width: 540px) { 
    .open-ticket-container .clock-date { display: none; }
    .open-ticket-container .name-device { flex-grow: 1; }
}
@media (max-width: 760px) { 
    .open-ticket-container .selectdiv { display: none; }
    .open-ticket-container .name-device { width: calc(100% - 166px); }
}
@media (hover:hover) {
    .open-ticket-container:hover { background-color: var(--hover);  }
}




/* || NEW REPAIR ||
/*  Colors   */
body { --input-border: #cfd2d6; --input-background: #f0f0f0; --input-placeholder: #828282; --input-blue: #3d52a8; --input-red: #a34e47; --submit-hover: #eeeeee; }
/*body.dark-theme { --input-placeholder: purple; --input-blue: #3d52a8; }*/

/*  Outline */
#input-customer-container, #input-device-container { display: flex; flex-wrap: wrap; padding: var(--inner-padding); gap: var(--inner-padding); justify-content: center; }
.new-ticket-submit-button { width: 300px; height: 80px; font-size: 16px; font-weight: 500; background-color: var(--background); border: 2px solid var(--select); box-shadow: 0 1px 4px var(--shadow); }
.new-ticket-submit-button:hover { background-color: var(--submit-hover);}

/*  Customer Information  */
.input-shell { width: 100%; min-width: 100%; max-height: 52px; display: flex; gap: var(--inner-padding); }
.input-shell.name { display: block; gap: 0; }
.input-container { width: 100%; height: 52px; padding: 0 var(--inner-padding); border: 2px solid var(--input-border); 
    border-radius: var(--border-radius); background-color: var(--input-background); display: flex; align-items: center; }
.input-container:focus-within { border: 2px solid var(--input-blue); color: var(--input-blue); background-color: var(--background); }
.input-container.error { border: 2px solid var(--input-red); color: var(--input-red); }
.input-container input { font-size: 16px; }
.input-container:focus-within > .x-input { width: 40px; }
.miniput { width: 100%;  }
.miniput-description { font-size: 10px; font-weight: 500; height: 0; transition-duration: .2s; overflow: hidden; white-space: nowrap; }
.input-container:focus-within .miniput-description, .input-container.error .miniput-description { height: 14px; }
.x-input { width: 0; height: 40px; display: flex; justify-content:center; align-items:center; overflow: hidden; white-space: nowrap; transition-duration: .2s }
#new-ticket-search-results { background-color: var(--background); width: 100%; position: relative; border-radius: var(--border-radius); 
    box-shadow: 0px 1px 4px var(--shadow);  }
.new-ticket-search-result { height: 35px; width: 100%; padding-left: var(--inner-padding); display: flex; align-items: center; font-size: 14px; }
.new-ticket-search-result.selected { background-color: var(--hover); cursor: pointer; }

/*  Device Information  */
.device-outline { width: 100%; display: flex; flex-wrap: wrap; min-height: 150px; align-content: flex-start; }
#new-repair-summary { width: 100%; padding: var(--inner-padding); display: flex; align-items: center; justify-content: center; border-bottom: 1px solid var(--hover);
    padding: var(--inner-padding); flex-wrap: wrap; color: var(--default); }
#new-repair-summary.error { background-color: var(--input-red); }
.input-object { display: flex; width: 100%; gap: var(--inner-padding); flex-wrap: wrap; padding: var(--inner-padding); justify-content: center; align-items: center; }
.input-object.hidden, #new-repair-summary.hidden, #new-ticket-checkboxes.hidden, #repair-information-error.hidden { display: none; }
#input-repair-other { flex-direction: column; align-items: center; justify-content: flex-start; gap: 0; }
.other-device-input-container { margin: 0 8px; }
.other-device-header { font-size: 12px; font-weight: 700; width: calc(316px - var(--border-radius)); text-align: left; margin-bottom: 4px; }
.other-device-header.small { width: 150px; margin-left: var(--border-radius); }
.other-device-input { width: 316px; height: 48px; font-size: 14px; background-color: var(--background); border: 2px solid var(--select); 
    border-radius: var(--border-radius); padding: 0 var(--inner-padding); text-align: left; margin-bottom: var(--inner-padding); }
.other-device-input.small { width: 150px; height: 36px; }
.other-device-input:placeholder-shown { background-color: var(--input-background); }
.other-device-input:focus { background-color: var(--background); }
.other-device-input-container.error .other-device-header { color: var(--input-red); }
.other-device-input-container.error .other-device-input { border-color: var(--input-red); }
#input-repair-type { gap: 8px; justify-content: flex-start; }
button.device { width: 150px; height: 48px; font-size: 14px; font-weight: 400; background-color: var(--input-background); border-color: var(--input-border); 
    border-radius: var(--border-radius); padding: 0; }
button.type { width: 150px; background-color: transparent; border: 0; height: 40px; padding: 0 8px; overflow: hidden; white-space: nowrap; text-align: left; font-weight: 500; }
#input-repair-repairs button { text-align: center; border: 1px solid var(--select); }
#input-repair-repairs button.selected { background-color: var(--select); }
#input-repair-repairs input { width: 316px; height: 40px; border: 2px solid var(--select); font-size: 14px; padding: 0 12px; text-align: center;
    background-color: var(--select); font-weight: 500; }
#input-repair-repairs input:placeholder-shown { background-color: var(--input-background); border: 2px solid var(--input-border); }
#input-repair-repairs input:focus { background-color: var(--background); }
#new-ticket-checkboxes, #new-ticket-custom-inputs { border-top: 1px solid var(--hover); }
#new-ticket-custom-inputs { gap: 0; }
#repair-information-error { color: var(--input-red); padding-left: 8px; }
.color-box { width: 28px; min-width: 28px; height: 28px; border: 1px solid var(--input-placeholder); box-sizing: border-box; padding: 0; }
.color-box.selected { border: 3px solid var(--input-border); }

@media (min-width: 600px) {
    #input-customer-container .input-shell { width: calc(50% - (var(--inner-padding) / 2)); min-width: 250px; }
}
@media (min-width: 1600px) {
    .object.large.nr { width: calc(50% - var(--outer-padding) / 2); height: auto; }
}
@media (hover:hover) {
    .x-input:hover { background-color: var(--hover); cursor: pointer; }
    button.type:hover, button.device:hover { background-color: var(--hover); }
    .color-box:hover { cursor: pointer; }
}




/* || TICKET ||
/*  Outline */
#ticket-left-column, #ticket-right-column { display: flex; flex-direction: column; flex: 1 1 0; flex-wrap: wrap; gap: var(--outer-padding); }

/*  Ticket Information   */
.ticket-details-container { display: flex; flex-wrap: wrap; width: 100%; }
#ticket-inputs { padding: var(--inner-padding); width: 50%; }
.ticket-input-container { display: flex; flex-wrap: wrap; width: 100%; align-items: center; justify-content: flex-start; }
.ticket-input-single { padding: calc(var(--inner-padding) / 2) var(--inner-padding); font-size: 14px; width: 200px; }
.checkbox-container.ticket-input-single { margin: 0; padding: calc(var(--inner-padding) / 2) 8px; }
#ticket-status { display: flex; width: 50%; flex-direction: column; align-items: center; justify-content: center; padding: var(--outer-padding); }
.complete-ticket { margin: 20px 0 0 50px; font-size: 12px; font-weight: 500; }
#pdf-dropdown-container { height: calc(16px + calc(var(--inner-padding) * 2)); max-height: calc(16px + calc(var(--inner-padding) * 2)); max-width: 60px; 
    margin-right: var(--inner-padding); }
header .icon-box.open-pdf { width: 60px; min-width: 60px; display: flex; justify-content: center; align-items: center; margin-right: 0; background-color: transparent; }
#pdf-dropdown { width: 160px; height: 0; background-color: #ffffff; position: relative; right: 100px; transition-duration: .2s; overflow: hidden; white-space: nowrap; }
.pdf-dropdown-item { width: 100%; border: 1px solid var(--default); padding: 8px 0; font-size: 12px; font-weight: 700; text-align: center; }
#pdf-dropdown-container.open > .open-pdf { background-color: #dddddd; }
#pdf-dropdown-container.open > #pdf-dropdown { height: 99px; } /* 33px x number of items */
#pdf-down-arrow:after { content: 'arrow_drop_down'}
#pdf-dropdown-container.open #pdf-down-arrow:after { content: 'arrow_drop_up'; }
#edit-ticket-delete { padding: 4px 8px; font-size: 12px; font-weight: 500; color: darkred; }


/*  Customer Description    */
.ticket-customer-description-single-container { display: flex; padding: calc(var(--inner-padding) / 2); align-items: center;  }
.ticket-customer-description-single { font-size: 14px; font-weight: 500; margin-left: var(--inner-padding); overflow: hidden; white-space: none;}

/*  Ticket Notes    */
.ticket-note-container { padding: var(--inner-padding) var(--outer-padding); border-bottom: 1px solid var(--select); text-transform: uppercase; width: 100%; }
.ticket-note-container:last-of-type { border-bottom: 0; }
.ticket-note-container.invoice { background-color: rgba(51, 130, 44, .1); }
.ticket-note-header { display: flex; justify-content: space-between; font-size: 12px; font-weight: 700; }
.ticket-note-content { font-size: 14px; font-weight: 500; text-transform: none; padding-top: var(--inner-padding); white-space: normal; }

/*  Repair List     */
#ticket-repair-container { padding: var(--inner-padding); }
.ticket-repair-single { width: 100%; border-bottom: 1px solid var(--select);  }
.ticket-repair-single-text { width: 100%; font-size: 16px; font-weight: 700; display: flex; align-items: center; gap: var(--inner-padding); overflow: hidden; text-align: left;
    white-space: nowrap; transition-duration: .3s; height: calc(36px + var(--inner-padding)); padding: 0 var(--inner-padding); border: 0; background-color: transparent; }
.ticket-remove-text, .ticket-part-text { font-size: 12px; }
.ticket-repair-single-inputs-container { height: 0; transition-duration: .2s; overflow: hidden; white-space: nowrap; }
.ticket-repair-single-input { display: flex; align-items: center; gap: calc(var(--inner-padding) / 2); font-size: 16px; font-weight: 500; }
.ticket-repair-single-inputs-container input { height: 28px; background-color: var(--input-background); border: 1px solid var(--input-border); 
    border-radius: var(--border-radius); padding: 0 calc(var(--inner-padding) / 2); font-size: 16px; text-align: center; visibility: hidden; }
.ticket-repair-single.open .hide-me { display: none; }
.ticket-repair-single .ticket-remove-text { display: none; color: var(--input-red); }
.ticket-repair-single .ticket-part-text { display: none; color: var(--input-blue); }
.ticket-repair-single.open .ticket-remove-text, .ticket-repair-single.open .ticket-part-text { display: block; }
.ticket-repair-single.open .ticket-part-text.ordered { display: block; color: var(--default); }
.ticket-repair-single.open .checkbox { width: 28px; min-width: 28px; }
.ticket-repair-single.open > .ticket-repair-single-inputs-container { height: 90px; }
.ticket-repair-single.open > .ticket-repair-single-inputs-container input { visibility: visible; }

/*  Invoices & Payment Summary   */
#ticket-right-column .object.medium { flex: 1 1 0; min-width: 364px; }
.invoice-refund-text { font-size: 12px; color: darkred; width: 60px; text-align: right; }
#reference-note { flex-grow: 1; height: 28px; border: 2px solid var(--default); border-radius: calc(var(--border-radius) / 2); padding: 0 8px; }
#reference-note:placeholder-shown { border-color: var(--input-border);}

/*  Popup Page  */
#popup-page { position: absolute; width: 100vw; height: 100vh; top: 0; left: 0; background-color: var(--search-background); display: flex; 
    align-items: flex-start; justify-content: center; padding: 60px var(--outer-padding); }
#popup-page.hidden { display: none; }
#popup-x { padding: var(--inner-padding); position: absolute; right: 0; top: 0; color: var(--menu-font); font-size: 28px; }
#popup-container { width: calc(316px + var(--outer-padding) + var(--outer-padding)); display: flex; flex-wrap: wrap; background-color: var(--background); 
    padding: var(--outer-padding); border-radius: var(--border-radius); gap: var(--inner-padding); justify-content: center; }
.popup-header { width: 100%; text-align: center; font-size: 16px; font-weight: 700; padding-bottom: var(--inner-padding); }
.popup-input-container { width: 316px; }
.popup-input-container.small { width: 150px; }
.popup-input-container.box-container { width: 150px; display: flex; flex-direction: column; align-items: center; }
.popup-input-container .header { font-size: 12px; font-weight: 700; width: 100%; text-align: left; margin-left: var(--border-radius); margin-bottom: 4px; display: flex; }
.popup-input-container .popup-required { display: none; }
.popup-input-container.box-container .header { text-align: center; margin-left: 0; justify-content: center; }
.popup-input-container input { width: 100%; height: 48px; font-size: 14px; background-color: var(--background); border: 2px solid var(--default); 
    border-radius: var(--border-radius); padding: 0 var(--inner-padding); text-align: left; margin-bottom: var(--inner-padding); }
.popup-input-container input.small { height: 36px; }
.popup-input-container input:placeholder-shown { background-color: var(--input-background); border-color: var(--select); }
.popup-input-container input:focus { background-color: var(--background); border-color: var(--default); }
.popup-input-container.error .header { color: var(--input-red); }
.popup-input-container.error input { border-color: var(--input-red); }
.popup-input-container.error .popup-required { display: block; }
.popup-switch { display: flex; height: 60px; border: 2px solid green; border-radius: var(--border-radius); }
.popup-switch-single { width: 80px; font-size: 12px; color: green; background-color: var(--background); border-right: 2px solid green; 
    display: flex; flex-direction:column; justify-content: center; align-items: center; }
.popup-switch-single.selected { background-color: green; color: #ffffff; }
.popup-switch-single:first-of-type { border-radius: var(--border-radius) 0 0 var(--border-radius); }
.popup-switch-single:last-of-type { border-right: 0; border-radius: 0 var(--border-radius) var(--border-radius) 0; }
.popup-switch-note { width: 100%; display: flex; align-items: center; border: 1px solid var(--select); border-radius: var(--border-radius); }
.popup-switch-note-single { flex: 1 1 0; padding: 8px 0; text-align: center; font-size: 12px; font-weight: 700; border-right: 1px solid var(--select); }
.popup-switch-note-single:last-of-type { border-right: 0; }
.popup-switch-note-single.selected { background-color: var(--hover); }
#popup-page textarea { width: 100%; height: 100px; font-size: 14px; border: 1px solid var(--select); border-radius: var(--border-radius); 
    padding: calc(var(--inner-padding) / 2) var(--inner-padding); resize: none; }
#popup-page textarea::-webkit-input-placeholder { color: default; }    
#popup-page textarea.error { border-color: red; }
#popup-page textarea.error::-webkit-input-placeholder { color: red; }


@media (max-width: 760px) {
    #ticket-left-column, #ticket-right-column { min-width: 100%; max-width: none; }
    #ticket-inputs { width: 100%; }
    #ticket-status { width: 100%; }
}
@media (hover:hover) {
    .ticket-repair-single-text:hover { background-color: var(--hover); cursor: pointer; }
    .ticket-repair-single.open > .ticket-repair-single-text:hover { background-color: transparent; cursor: default; }
    .ticket-remove-text:hover, .ticket-part-text:hover, #edit-ticket-delete:hover { text-decoration: underline; cursor: pointer; }
    .ticket-part-text.ordered:hover { text-decoration: none; cursor: default; }
    .invoice-refund-text:hover { text-decoration: underline; color: red; cursor: pointer; }
    #popup-x:hover{ cursor: pointer; background-color: var(--menu-hover); }
    .popup-switch-single:hover, .popup-switch-note-single:hover { cursor: pointer; }
    header .icon-box.open-pdf:hover { background-color: var(--hover); }
    .pdf-dropdown-item:hover { cursor: pointer; background-color: var(--hover); }
}




/* || PART ORDERS ||
/*  Parts   */
.part-order-single-container { display: flex; width: 100%; padding: calc(var(--outer-padding) / 2) 8px; border-bottom: 1px solid var(--select); align-items: center;
    gap: var(--inner-padding); }
.part-order-single-container .material-symbols-outlined { font-size: 22px; }
.part-order-single-container:last-of-type { border-bottom: 0; }
.part-date { width: 90px; font-weight: 500; }
.part-ticket { width: 40px; text-align: center; }
.part-description { width: 60%; min-width: 0; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.part-tracking-container { width: 40%; min-width: 0; display: flex; align-items: center; gap: 10px; }
.part-tracking-index { display: none; font-size: 12px; font-weight: 700; }
.part-tracking { width: calc(100% - 100px); max-width: 220px; text-decoration: underline; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.part-tracking-edit { color: red; font-size: 10px; font-weight: 700; padding: 4px 0; width: 40px; text-align: center; }
.part-tracking-edit.empty { width: 100%; color: blue; text-align: left; }
.part-tracking.tracks { text-decoration: underline; }
.part-tracking-icon.material-symbols-outlined { font-size: 24px; width: 36px; height: 36px; align-items: center; justify-content: center; display: none; }
.mark-part-received { font-size: 12px; padding: 14px 10px; }
.icon-box.hidden { display: none; }

@media (max-width: 760px) {
    #part-order-header { display: none; }
    .part-order-single-container { flex-wrap: wrap; }
    .part-date, .part-tracking-edit.material-symbols-outlined, .part-ticket.material-symbols-outlined { display: none; }
    .part-description { width: 100%; }
    .part-tracking-container { display: none; }
    .part-tracking-index { display: block; }
    .part-tracking-edit-small { display: block; }
    .part-tracking-icon.material-symbols-outlined { display: flex; }
}
@media (hover:hover) {
    .part-ticket:hover, .part-tracking:hover { color: var(--text-hover); cursor: pointer; }
    .part-tracking-edit:hover { color: darkred; cursor: pointer; }
    .part-tracking-edit.empty:hover { color: darkblue; }
    .mark-part-received:hover { background-color: var(--hover); cursor: pointer; }
    .part-tracking-icon:hover { cursor: pointer; }
}




/* || CUSTOMER ||
/*  Details */
.customer-details-input { width: 100%; height: 40px; font-size: 14px; font-weight: 500; padding: 0 var(--inner-padding); border-radius: var(--border-radius);
    border: 1px solid var(--select); }
.customer-details-input:placeholder-shown { background-color: var(--input-background); }
.customer-details-input:focus { background-color: transparent; border-color: var(--default); }

/*  Tickets   */
.customer-ticket-container { display: flex; width: 100%; align-items:center; padding: var(--inner-padding) calc(100% / 20); gap: calc(100% / 20); 
    border-bottom: 1px solid var(--select); }
.customer-ticket-container:last-of-type { border-bottom: 0; }
.customer-ticket-link { width: 86px; text-decoration: underline; }
.customer-invoice-link { width: 80px; color: darkred; text-align: center; font-size: 12px; font-weight: 700; };


/*  Rating  */
.slider-container { width: 100%; display: flex; justify-content: center; align-items: center; padding: 0 4% var(--inner-padding) 4%; flex-direction: column; }
.slider { -webkit-appearance: none; appearance: none; width: 100%; height: 10px; background-color: #e4e4e4; outline: none; border-radius: 5px; margin-top: -17px; }
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 24px; height: 24px; border-radius: 12px; background-color: gray; cursor: pointer; }
.slider::-moz-range-thumb { width: 25px; height: 25px; background-color: gray; cursor: pointer;  }
.slider.one::-webkit-slider-thumb { background-color: red; } .slider.two::-webkit-slider-thumb { background-color: lightcoral; }
.slider.four::-webkit-slider-thumb { background-color: lightgreen; } .slider.five::-webkit-slider-thumb { background-color: green; }
.slider.one::-moz-range-thumb { background-color: red; } .slider.two::-moz-range-thumb { background-color: lightcoral; }
.slider.four::-moz-range-thumb { background-color: lightgreen; } .slider.five::-moz-range-thumb { background-color: green; }
.slider-label { width: 6px; font-size: 12px; font-weight: 700; }
.slider-notch { height: 100%; width: 6px; border-radius: 3px; background-color: #e4e4e4; }
.rating-note { width: 100%; height: 100px; padding: var(--inner-padding); border-radius: var(--border-radius); font-size: 14px; resize: none; border: 2px solid var(--text-hover); }
.rating-note:placeholder-shown { background-color: var(--input-background); border-color: var(--select); }
.rating-note:focus { background-color: transparent; border-color: var(--text-hover); } 

@media (hover:hover) {
    .customer-ticket-container:hover { background-color: var(--hover); }
    a.customer-invoice-link:hover { text-decoration: underline; }
}




/* || REPORTS & INVOICES ||
/*  Chart   */
#sales-chart { width: 100%; height: 300px; max-height: 300px; }
.customer-name-link { flex-grow: 1; text-align: left; }
.invoice-list-amount { width: 80px; font-weight: 700; text-align: center; }

/* Custom Invoice Search, Recent Invoices and Recent Completed Tickets */
.object.medium.custom-invoice-results, .object.medium.custom-invoice-daily { max-height: calc(100vh - 308px - (var(--outer-padding) * 2)); overflow-y: scroll;
    -ms-overflow-style: none; scrollbar-width: none;  }
.object.medium.custom-invoice-results::-webkit-scrollbar, .object.medium.custom-invoice-daily::-webkit-scrollbar { display: none; }
.custom-invoice-date { width: 100%; height: 40px; border-radius: var(--border-radius); font-size: 14px; padding: 0 var(--inner-padding);}
.recent-invoices-ticket-num { width: 50px; font-weight: 700; font-size: 12px; text-align: center; color: darkgreen; }
#daily-invoice-go-back { display: none; }
.individual-completed-container { width: 100%; display: flex; padding: var(--inner-padding); border-bottom: 1px solid var(--default); gap: calc(100% / 20); align-items: center; }

/*  Custom Invoice Page */
.daily-search-container { display: flex; width: 100%; align-items:center; padding: var(--inner-padding) calc(100% / 20); 
    gap: calc(100% / 20); height: 50px; border-bottom: 1px solid var(--default); }
.daily-search-container.top { border-top: 1px solid var(--default); }
.view-invoices-link { width: 100px; display: flex; font-size: 12px; font-weight: 700; color: darkgreen; }

@media (max-width: 600px) {
    .object.medium.custom-invoice-daily { display: none; }
    .container.daily-shown > .object.medium.custom-invoice-results { display: none; }
    .container.daily-shown > .object.medium.custom-invoice-daily { display: flex; }
    .container.daily-shown > .object.medium.results-summary { display: none; }
    .customer-name-link { display: none; }
    .invoice-list-amount { flex-grow: 1; }
    .object.medium.custom-invoice-results, .object.medium.custom-invoice-daily { max-height:none; }
    #daily-invoice-go-back { display: block; }
}

@media (hover:hover) {
    #sales-toggle-button:hover, #basis-toggle-button:hover { cursor: pointer; }
    a.customer-name-link:hover { text-decoration: underline; }
    a.recent-invoices-ticket-num:hover, .view-invoices-link:hover { text-decoration: underline; cursor: pointer; }
    .individual-completed-container:hover { background-color: var(--hover); cursor: pointer; }
}




/* || DASHBOARD ||
/*  Chart & Legend   */
#chart-legend-container { display: flex; align-items: center; flex-wrap: wrap; width: 100%; margin-top: var(--outer-padding); justify-content: center; gap: var(--inner-padding); }
.legend-entry { width: max(calc(33% - 48px), 150px); height: 40px; display: flex; align-items: center; gap: 12px; }
.legend-entry-box { width: 16px; height: 16px; border: 3px solid; box-shadow: var(--shadow) 0 0 6px; background-color: transparent; }
.legend-entry-text { font-size: 14px; font-weight: 700; }
.number-percent-switch { width: 50%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: 12px; font-weight: 700; }
.number-percent-switch.selected { background-color: var(--hover); }

@media (hover:hover) {
    .number-percent-switch:hover { cursor: pointer; }
}




/* || POS / QUICKSALE ||
/*  Sale  */
#pos-item-container { width: 100%; max-width: 300px; }
.pos-input { width: 100%; height: 52px; padding: 0 var(--inner-padding); border: 2px solid var(--default); font-size: 16px;
    border-radius: var(--border-radius); background-color: var(--background); display: flex; align-items: center; }
.pos-input:placeholder-shown { background-color: var(--input-background); border: 2px solid var(--input-border); }
.pos-item-input-error { color: darkred; padding-left: 8px; display: none; }
#pos-item-input-price { border: 2px solid var(--default); }
#pos-item-input-price:placeholder-shown { background-color: var(--input-background); border: 2px solid var(--input-border); }
.pos-input:focus-within, #pos-item-input-price:focus-within { border: 2px solid var(--default); background-color: var(--background); }
#pos-item-container.error .pos-input { border-color: darkred; }
#pos-item-container.error .pos-input:focus-within { border-color: darkred; }
#pos-item-container.error .pos-item-input-error { display: block; }

/*  Repair  */
#pos-repair-container { height: 306px; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;  }
#pos-repair-container::-webkit-scrollbar, #pos-repair-container::-webkit-scrollbar { display: none; }
#pos-invoices-container { height: 212px; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;  }
#pos-invoices-container::-webkit-scrollbar, #pos-invoices-container::-webkit-scrollbar { display: none; }

@media (max-width: 760px) {
    #pos-repair-container, #pos-invoices-container { height: auto; }
}