@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
* { margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; }
body { background-image: linear-gradient(to bottom right, #2d3844, #9abd97); transition-duration: .3s; overflow: hidden; display: flex; } /* OG 2nd color: 4a5766
body.dark-theme { background-image: linear-gradient(to bottom right, #000000, rgb(17, 17, 17)); }



/* || PAGE DEFAULTS ||
/*  Links & Inputs  */
a { color: inherit; text-decoration: none; }
input[type='text'] { border: 0; background-color: transparent; width: 100%;  }
input[type='text']:focus, textarea:focus { color: var(--default); outline: none; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { border: 0; outline: none; width: 100%; -moz-appearance: textfield; }




/* || DROPDOWNS ||
/*  Ticket Status    */
.selectdiv {  width: 160px; border: 1px solid var(--description); overflow: hidden; margin: 0 var(--inner-padding); display: block; }
.selectdiv select { width: 100%; height: 100%; padding: 5px; border: 0; background-color: var(--background); color: var(--description); font-size: 12px; }
.selectdiv:focus-within { border: 1px solid var(--description); }




/* || MENU ||
/*    Default Menu    */
menu { width: var(--menu-size); min-width: var(--menu-size); background-color: var(--menu-background); height: 100vh; transition-duration: .3s; white-space: nowrap; overflow: hidden; }
#menu-container { width: 100%; min-width: 260px; display: flex; flex-direction: column; padding-top: 64px; }
#menu-container a { width: 100%; padding: 16px 0px; color: var(--menu-font); font-size: 16px; transition-duration: .3s; border-left: 4px solid transparent;
    display: flex; align-items: center; justify-content: center; }
#menu-container a.selected { border-left: 6px solid var(--primary); background-color: var(--menu-select); }
#menu-container .material-symbols-outlined { width: 24px; margin-right: 16px; font-size: 24px; }
#menu-container .menu-link { width: 156px; display: flex; align-items: center; }
#menu-settings { transition-duration: .2s; height: 204px; /* Change to number of children x 51px */ overflow: hidden; white-space: nowrap; }
#menu-settings.hidden { height: 0; }
#menu-settings a { color: #a6a6a6; text-transform: uppercase; font-size: 14px; font-weight: 500; }
#menu-settings a.selected { color: var(--menu-font); }
#settings-arrow { transition-duration: .2s; }
#settings-arrow.hidden { transform: rotate(-90deg);  }

/*  Menu Header */
#menu-header { padding: var(--outer-padding); width: 100%; min-width: 260px; display: none; flex-direction: column; align-items: center; }
#menu-header > #logo { width: 80px; height: 80px; background-color: var(--menu-font); margin-bottom: 8px; }
#business-name-primary { color: var(--primary); font-size: 18px; font-weight: 700; line-height: 26px; }
#business-name-secondary { color: var(--menu-font); font-size: 12px; font-weight: 300; }

@media (min-width: 1000px) { 
    #menu-header { display: flex; }
    #menu-container { padding-top: 0; }
}
@media(hover:hover) {
    #menu-container a:hover { background-color: var(--menu-hover); }
    #settings:hover { cursor: pointer; }
}




/* || HEADER ||
/*  Desktop */
#desktop-header { display: none; align-items: center; height: 80px; width: 100%; padding: 0 calc(var(--inner-padding) + var(--outer-padding)); }
#page-title { font-size: 24px; font-weight: 300; color: var(--menu-font); flex-grow: 1; }

/*  Mobile  */
#mobile-header { width: 100%; height: var(--mobile-menu-height); color: var(--menu-font); 
    display: flex; justify-content:flex-end; align-items: flex-start; }
#mobile-page-title { width: 100%; overflow: hidden; white-space: nowrap; font-size: 18px; font-weight: 300; padding: 0 var(--outer-padding); }

/*  Icons   */
.icon-container { height: 100%; display: flex; align-items: center; }
.icon-box { width: 80px; height: 80px; display: flex; align-items: center; justify-content: center; }
.icon-box.mobile { width: var(--mobile-menu-height); height: var(--mobile-menu-height); }
.icon-box .material-symbols-outlined { font-size: 26px; color: var(--menu-font); }
.icon-box .material-symbols-outlined.mobile { font-size: 20px; }

/*  Mobile Icon Containers  */
#mobile-name-icon-container { width: calc(100% - var(--mobile-menu-height)); height: var(--mobile-menu-height); max-height: var(--mobile-menu-height); 
    transition-duration: .3s; display: flex; align-items: center; justify-content: flex-end; }
#mobile-name-icon-container.menu-open { width: calc(100% - 100vw + var(--menu-size) - var(--mobile-menu-height)); }
#dropdown-icon-container { position: relative; width: var(--mobile-menu-height); max-height: calc(var(--mobile-menu-height) * 4); overflow: auto; 
    background-color: var(--mobile-dropdown-background); transition-duration: .3s; display: none; -ms-overflow-style: none; scrollbar-width: none; }
#dropdown-icon-container::-webkit-scrollbar { display: none; }
#dropdown-icon-container > #dropdown-dots { background-color: var(--menu-hover); }
#dropdown-icon-container.hidden > #dropdown-dots { background-color: transparent; }
#dropdown-icon-container.hidden { max-height: var(--mobile-menu-height); background-color: transparent; overflow: hidden; }

@media(max-width: 600px) {
    #mobile-name-icon-container .icon-container { display: none; }
    #dropdown-icon-container { display: block; }
}
@media (min-width: 1000px) { 
    #mobile-header { display: none; }
    #desktop-header { display: flex; }
}
@media (hover:hover) {
    .icon-box:hover { background-color: var(--menu-hover); cursor: pointer; }
    #dropdown-icon-container.hidden:hover { cursor: pointer; }
}




/* || SEARCH PAGES ||
/*  Customer Search  */
#search-customer-page { position: absolute; width: 100vw; height: 100vh; top: 0; left: 0; background-color: var(--search-background); display: flex; 
    align-items: flex-start; justify-content: center; }
#search-customer-container .search-container { display: flex; width: 300px; box-shadow: 1px 2px 4px var(--shadow); margin-top: 8px;
    padding: var(--inner-padding); gap: var(--inner-padding); font-size: 18px; background-color: var(--menu-font); border-radius: var(--border-radius); }
#search-customer-container .search-container input, #goto-ticket-container .search-container input { font-size: 20px; background-color: var(--menu-font); }
#search-customer-page.hidden, #search-customer-container.hidden, #goto-ticket-container.hidden { display: none; }
#search-results { width: 300px; border-radius: 0 0 var(--border-radius) var(--border-radius); background-color: var(--menu-font); 
    padding-top: var(--border-radius); margin-top: calc(var(--border-radius) * -1); }
#search-results .result-container { padding: 8px 32px; border-top: 2px solid var(--search-background); }
.result-container .name { font-size: 14px; font-weight: 700; padding-bottom: 4px; }
.result-container .phone { font-size: 12px; font-weight: 400; margin-left: var(--inner-padding); }
.result-container.selected { background-color: rgba(0, 0, 0, .08); }
.result-container:last-of-type { border-radius: 0 0 var(--border-radius) var(--border-radius); }

/*  Goto Ticket */
.goto-container { margin-top: 100px; }
.goto-container .search-header { font-size: 14px; font-weight: 700; width: 100%; text-align: center; color: var(--menu-font); text-shadow: 1px 1px var(--shadow); }
#goto-ticket-container .search-container { display: flex; width: 170px; box-shadow: 1px 2px 4px var(--shadow); margin-top: 8px;
    padding: var(--inner-padding); gap: var(--inner-padding); font-size: 18px; background-color: var(--menu-font); border-radius: var(--border-radius); }
#no-ticket-found { width: 100%; text-align: center; color: var(--error); font-size: 12px; font-weight: 700; padding-top: 6px; }
#no-ticket-found.hidden { display: none; }

/*  X Out (close search button)    */
#x-out { padding: var(--inner-padding); position: absolute; right: 0; top: 0; color: var(--menu-font); font-size: 28px; }

@media (hover:hover) {
    .result-container:hover { cursor: pointer; }
    #x-out:hover{ cursor: pointer; background-color: var(--menu-hover); }
}




/* || MAIN (frame) ||
/*  Outline  */
main { flex-grow: 1; display: flex; flex-direction: column; justify-content: flex-start; }
#frame { width: 100%; min-width: 100vw; height: calc(100vh - var(--mobile-menu-height)); border: 0; transition-duration: .3s; white-space: nowrap; overflow-x: hidden; }
.container { display: flex; width: 100%; max-width: 100vw; flex-wrap: wrap; padding: var(--outer-padding) 0 calc(var(--outer-padding) * 2); gap: var(--outer-padding); align-items: top; }
#click-out { position: absolute; width: calc(100vw - var(--menu-size)); height: calc(100vh - var(--mobile-menu-height)); background-color: transparent; 
    left: var(--menu-size); top: var(--mobile-menu-height); }
menu.hidden, #frame.hidden, #click-out.hidden { width: 0; min-width: 0;  }

/*  Objects */
.object { display: flex; flex-direction: column; background-color: var(--background); border-radius: 0; box-shadow: 0 1px 4px var(--shadow); }
.object.small { width: calc(25% - var(--outer-padding) + (var(--outer-padding) / 4)); }
.object.medium { width: calc(50% - var(--outer-padding) / 2); }
.object.large { width: 100%; height: fit-content; }

/*  Design  */
header { display: flex; align-items: center; width: 100%; background-color: var(--select); }
h1 { flex-grow: 1; padding: var(--inner-padding); font-size: 18px; font-weight: 500; color: var(--default); display: flex; }
header .icon-box { height: calc(16px + calc(var(--inner-padding) * 2)); width: calc(16px + calc(var(--inner-padding) * 2)); margin-right: var(--inner-padding); }
header .icon-box .material-symbols-outlined { font-size: 20px; color: var(--default); }
button { padding: var(--inner-padding); border-radius: var(--border-radius); background-color: var(--button); border-color: var(--select); font-weight: 500; 
    min-width: 150px; color: var(--description); }
button:hover { background-color: var(--button-hover); cursor: pointer; }
button.disabled { background-color: var(--button-disabled); border-color: transparent; color: #bbbbbb; }
button.disabled:hover { cursor: default; background-color: var(--button-disabled); }
.checkbox-container { display: flex; align-items: center; margin: 0 var(--inner-padding); }
.checkbox { width: 40px; background-color: transparent; padding: 0; border-radius: 0; border: 0; min-width: 40px; color: var(--default); }
.checkbox:hover { background-color: transparent; color: var(--description); }
.checkbox-text { font-size: 14px; font-weight: 500; }
.checkbox::after { content: "check_box_outline_blank"; }
.checkbox.selected::after { content: "check_box"; }

@media (max-width: 600px) {
    .object.medium { width: 100%; }
}
@media (max-width: 760px) {
    .object.small { width: calc(50% - var(--outer-padding) / 2); }
}
@media (min-width: 700px) { 
    .container { padding: var(--outer-padding); }
    .object { border-radius: var(--border-radius); }
}
@media (min-width: 1000px) { 
    .container { padding: 0 var(--outer-padding) var(--outer-padding); }
    #frame { min-width: 100%; height: calc(100vh - 80px); }
    menu.hidden { width: var(--menu-size); min-width: var(--menu-size); }
    #click-out { width: 0; min-width: 0; }
}
@media (min-width: 1600px) {
    .object.large { width: calc(75% - var(--outer-padding) / 2); }
}
@media (hover:hover) {
    header .icon-box:hover { background-color: var(--hover); }
}